.main1{
	width: 1400px;
	margin:0 auto;
}
.new0pa{
	margin:41px 0 35px;
	font-size: 22px;
	color: #666;
}
.new0span1,.new0span2{
	text-decoration: underline;
}
.new0span2{
	color: #4A90E2;
}
.main1 h1{
	font-size: 50px;
	color: #333;
}
.new0time{	
	margin:29px 0 78px ;
	font-size: 24px;
	color: #999;
}
.main2{
	width: 1400px;
	margin:0 auto;
}
.main2 img{
	width: 1400px;
	margin: 0 auto;
}
.main2 p{
	font-size: 30px;
	color: #666;
	text-indent: 2em;
}
