.main1{
	width: 100%;
}

.icon_up{
	width: 1.28rem;
    height: 1.28rem;
    margin: -0.64rem auto;
}
.mainH3{
	font-family: "PingFang-SC-Medium";
	font-size: 0.34rem;
	color: #333;
	text-align: center;
	width:100%;
	line-height: 0.34rem;
	margin: 0.97rem auto 0.19rem;
}
.mainP1{
	font-family: "PingFang-SC-Medium";
	font-size: 0.2rem;
	color: #666;
	text-align: center;
	width:100%;
	line-height: 0.2rem;
	margin: 0 auto;
}
.heng{
	width:0.3rem;height: 0.04rem;background: #4a90e2;margin: 0.19rem auto 0px;
}
.main2Box{
	width: 100%;
	margin: 0.52rem auto 0.94rem;
	padding: 1px 0;
}
.main2Box dl{
	padding: 1px 0;
    width: 5.02rem;
    margin: 0 auto 0.6rem;
    background: rgba(255,255,255,1);
    box-shadow: 0px 0px 40px rgba(0,0,0,0.06);
}
.main2Box dl p{
	font-family: "PingFang-SC-Medium";
	font-size: 0.26rem;
	color: #666;
	padding: 0.37rem;
}

.audioBox{
	width: 2.26rem;
	margin: 0.45rem auto;
}
.voiceBox{
	width: 0.35rem;
	margin-right: 0.37rem;
	padding: 0.25rem 0;
}
.playBox{
	width: 0.84rem;
}
.replayBox{
	width: 0.33rem;
	margin-left: 0.37rem;
	padding: 0.26rem 0;
}
.replayBox,.playBox,.voiceBox{
	float: left;
}
.replayBox img,.playBox img,.voiceBox img{
	width: 100%;
}

.main4{
	width: 100%;
	padding: 1px 0;
	background: url(../indexImg/main3bj.png) repeat-y;
	background-size: 100%;
}
.main4ImgBig{
	width: 6.62rem;
	margin: 0.6rem auto 1rem;
}
.main5{	
    width:100%;
}
